.appTitle {
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: center;
}

#appLeftWrap {
  margin-top: 0;
  
  @media screen and (min-width: 992px) {
    margin-top: 85px;
  }
}

.appLeftText {
  font-weight: 500;
  margin-bottom: 15px;
}

@media screen and (max-width: 991px) {
  .appTitle {
    margin-bottom: 25px;
  }

  .appLeftText {
    position: fixed;
    left: 15px;
    bottom: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1;
  }
}





